body{
    background-color:rgb(180, 175, 175);
}
.ab
{
    top:50px;
    display:flex;
    /* justify-content: center; */
    /* align-items: center; */
    /* text-align: center; */
    /* padding-left:300px; */
    position: fixed;

}
 .about
{
    top:5rem;  
    left:625px;
    position: fixed;
    display:flex;
} 
.para
{
    top:8rem;  
    font-size:20px;
    margin-bottom: 20px;
    left:270px;

    right:200px;
    position: fixed;
    display:flex;
}
.edit
{
    top:19rem;
    display:flex;
    position: fixed;
    left:270px;
}
.name
{
    top:21rem;
    display:flex;
    position: fixed;
    left:270px;
    font-size:20px;
}
.web
{
    top:23rem;
    display:flex;
    position: fixed;
    left:270px;
}
.name1
{
    top:25rem;
    display:flex;
    position: fixed;
    left:270px;
    font-size:20px;
}
.intern
{
    top:27rem;
    display:flex;
    position: fixed;
    left:270px;
}
.name2
{
    top:29rem;
    display:flex;
    position: fixed;
    left:270px;
    font-size:20px;
}
.con
{
    top:30rem;
    display:flex;
    position: fixed;
    left:270px;
}
.content
{
    top:32rem;  
    font-size:20px;
    left:270px;
    right:700px;
    position: fixed;
    display:flex;
}
.footer
{
    top:500px;
    left:260px;
    position: fixed;
    display: flex;
    height:40vh;
    width:100%;
    opacity:80%;
    background-color: #000;
    overflow-y:auto;
}

/* footer */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
body{
	line-height: 1.5;
	font-family: 'Poppins', sans-serif;
}
*{
	margin:0;
	padding:0;
	box-sizing: border-box;
}
.container{
	max-width: 1170px;
	margin:auto;
}
.row{
	display: flex;
	flex-wrap: wrap;
}
ul{
	list-style: none;
}
.footer{
	background-color: #24262b;
    padding: 70px 0;
}
.footer-col{
   width: 25%;
   padding: 0 15px;
}
.footer-col h4{
	font-size: 18px;
	color: #ffffff;
	text-transform: capitalize;
	margin-bottom: 35px;
	font-weight: 500;
	position: relative;
}
.footer-col h4::before{
	content: '';
	position: absolute;
	left:0;
	bottom: -10px;
	background-color: #e91e63;
	height: 2px;
	box-sizing: border-box;
	width: 50px;
}
.footer-col ul li:not(:last-child){
	margin-bottom: 10px;
}
.footer-col ul li a{
	font-size: 16px;
	text-transform: capitalize;
	color: #ffffff;
	text-decoration: none;
	font-weight: 300;
	color: #bbbbbb;
	display: block;
	transition: all 0.3s ease;
}
.footer-col ul li a:hover{
	color: #ffffff;
	padding-left: 8px;
}
.footer-col .social-links a{
	display: inline-block;
	height: 42px;
	width: 40px;
	background-color: rgba(255,255,255,0.2);
	margin:0 10px 10px 0;
	text-align: center;
	line-height: 42px;
	border-radius: 50%;
	color:#fff;
	transition: all 0.5s ease;
}
.footer-col .social-links a:hover{
	color: #24262b;
	background-color: #ffffff;
}

/*responsive*/
@media(max-width: 767px){
  .footer-col{
    width: 50%;
    margin-bottom: 30px;
}
}
@media(max-width: 574px){
  .footer-col{
    width: 100%;
}
}