@import url('https://fonts.googleapis.com/css2?family=Hedvig+Letters+Serif:opsz@12..24&display=swap');
.img
{
    height:96%;
    width:50%;
    top:43px;
    bottom:400px;
    margin:0;
    left:0;
    position:fixed;
}
.contentss
{
    color:black;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-top:3rem;
    padding-left: 49rem;
    font-size:25px;
}
.paragraph
{
    /* text-align:end; */
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top:0rem;
}
body
{
    background-color: rgb(170, 165, 165);
    /* overflow: hidden; */
}
.nets{
    color:black;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top:10rem;
    padding-left: 48.5rem;
    font-size:40px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.butt
{
    height:5vh;
    width:8vw;
    border-radius: 10px;
    background-color:rgb(51, 80, 121);
    color:black;
    font-size: 20px;
}
.button
{
    padding-left:48rem;
    padding-top:6rem;
    display:flex;
    justify-content: center;
    align-items: center;

}